<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <link rel="stylesheet" href="/css/registration.css">
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        #otpSection {
            display: none;
        }
    </style>
</head>
<body>
<nav class="navbar">
    <div class="navbar-container">
        <span class="navbar-brand" id="navbar-logo">WebChat <i class="fa-regular fa-comments"></i></span>
    </div>
</nav>

<div class="form-container">
    <h2>Register WebChat</h2>
    <!-- Registration Form -->
    <form id="registrationForm" enctype="multipart/form-data" onsubmit="requestOtp(event)">
        <div id="registrationSection">
            <div class="form-group">
                <label for="username">UserName :</label>
                <input type="text" id="username" name="username" required />
            </div>
            <div class="form-group">
                <label for="email">Email :</label>
                <input type="email" id="email" name="email" required />
            </div>
            <div class="form-group">
                <label for="password">Password :</label>
                <input type="password" id="password" name="password" required />
            </div>
            <div class="form-group">
                <label for="profilePicture">Profile Picture (Optional):</label>
                <input type="file" id="profilePicture" name="profilePicture" accept="image/*" />
            </div>
            <button type="submit">Submit</button>
        </div>
        <br>
        <br>
    </form>

    <!-- OTP Verification Section -->
    <div id="otpSection">
        <h3>OTP Verification</h3>
        <form id="otpForm" onsubmit="verifyOtp(event)">
            <h4>OTP valid for 10 minutes.</h4>
            <div class="form-group">
                <label for="otp">Enter OTP:</label>
                <input type="text" id="otp" name="otp" required />
            </div>
            <button type="submit">Verify OTP</button>
            <br>
            <br>
        </form>
    </div>
    <p id="message"></p>
</div>
<script src="/js/registration.js"></script>
</body>
</html>
